@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body {
    background: #282e44;
}

.mainPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.pageTwo {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.createdNote {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%;
    margin: 1rem;  
}

.createdNote img {
    height: 10vh;
    width: 100%;
    margin-bottom: 1rem;
}


.createdNote button {
    height: 8vh;
    border-radius: 12px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.noteList {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}

.note {
    background: white;
    border: 1px solid darkgray;
    border-radius: 12px;
    padding: 1rem;
    margin: 1rem;
   }


 .note h5 {
    font-size: 1rem;
    color: #437cac;
}

.note p {
    font-size: 1rem;
    color: gray;
}

.noteInfo {
    display: flex;
    flex-direction: column;
    width: 70%;
    position: relative;
    background: #02549e;
}

.fileInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;  
}

.fileInfo img {
    height: 40vh;
}

.fileInfo h5 {
    font-weight: bold;
    margin: 0.8rem 0;
}

.fileInfo p {
    font-size: 8px;
}

.noteCreation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.noteCreation .createNote {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; 
   background: white;
   padding: 1rem;
   margin: 1rem;
   border-radius: 12px;
   height: 40vh;
   width: 50%;
}

.createNote input, textarea {
    border: none;
    outline: none;
    border-bottom: 0.5px solid black;
    margin: 0.3rem;
}

.createNoteButton  button {
    margin: 1rem;
    /* width: 30%; */
    padding: 0.8rem;
    cursor: pointer;
}


 .viewNote {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 1rem;
   background: white; 
}

.viewNote h5 {
    font-weight: bold;
    color: #437cac;
    font-size: 3rem;
}

.viewNote button {
    border: none;
    background: none;
}

 #newTaskButton {
    background: #263d3c;
}



/* .viewNote button { */
   /* border: none;
   background: none; */
   /* font-size: 1rem;
   color: white;
   padding: 1.5rem;
   border-radius: 15px;
} */

 /* .newTaskButton { 
    background: #263d3c; */
    /* margin: 3rem; */
    /* cursor: pointer;
} */ 

 /* #deleteNoteButton {
    background: #ff5858; */
    /* margin: 4rem; */
    /* cursor: pointer;
} */

#noteDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    margin: 1rem;
    padding: 1rem;
    background: white;
    border-radius: 12px;
    height: 40vh;
}

#noteDescription h4 {
    margin: 0.2rem 0;
    color: #437cac;
}

#taskUncheck {
    display: flex;
    flex-direction: column;
}

#taskUncheck div {
    margin: 0.5rem;
}

.newTask {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
}

.newTask #inputTask {
  background: white;
  width: 30%;
  padding: 2rem;
  border-radius: 15px;
  margin: 2rem;
}

.newTask input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    margin: 0.3rem;
    font-size: 1rem;  
}

.newTask button {
    width: 20%;
    margin: 1rem;
    padding: 0.5rem;
    color: white;
    background: #02a89e;
    border: none;
    outline: none;
    border-radius: 12px;
    cursor: pointer;
}




