@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body {
    background: #282e44;
}

.mainPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.pageTwo {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.createNote {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 30%;
    margin: 1rem;
    position: sticky;
}

.createNote img {
    height: 10vh;
    width: 100%;
    margin-bottom: 1rem;
}


.createNote button {
    height: 8vh;
    border-radius: 12px;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
}

.createNote #createdNotes{
    background: white;
    border-radius: 20px;
    padding: 3rem;
    
}

#createdNotes h5 {
    font-size: 3rem;
    color: #437cac;
}

#createdNotes p {
    font-size: 3rem;
    color: gray;
}

.noteInfo {
    display: flex;
    flex-direction: column;
    width: 70%;
    position: relative;
    background: #02549e;
}

.fileInfo {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    color: white;  
}

.fileInfo img {
    height: 40vh;
}

.fileInfo h5 {
    font-weight: bold;
    margin: 0.8rem 0;
}

.fileInfo p {
    font-size: 8px;
}

.noteCreation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.noteCreation .createNote {
   background: white;
   padding: 1rem;
   border-radius: 12px;
   width: 50%;
}

.createNote input, textarea {
    border: none;
    outline: none;
    border-bottom: 0.5px solid black;
    margin: 0.3rem;
}

.createNoteButton  button {
    padding: 0.8rem;
    cursor: pointer;
}

#noteTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    height: 20vh;
    width: 100%;
    margin: 1rem 0;
}

#noteTitle h5 {
    font-weight: bold;
    font-size: 4rem;
    margin: 0 2rem;
    color: #437cac;
}

#noteTitle .buttons button {
   border: none;
   background: none;
   font-size: 1rem;
   color: white;
   padding: 1.5rem;
   border-radius: 15px;
}

#noteTitle .buttons #newTaskButton { 
    background: #02a89e;
    margin: 3rem;
    cursor: pointer;
}

#noteTitle #deleteNote {
    background: #ff5858;
    margin: 4rem;
    cursor: pointer;
}

#noteDescription {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: start;
    margin: 1rem;
    padding: 1rem;
    background: white;
    border-radius: 12px;
    height: 40vh;
}

#noteDescription h4 {
    margin: 0.2rem 0;
    color: #437cac;
}

#taskUncheck {
    display: flex;
    flex-direction: column;
}

#taskUncheck div {
    margin: 0.5rem;
}

.newTask {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center; 
}

.newTask #inputTask {
  background: white;
  width: 30%;
  padding: 2rem;
  border-radius: 15px;
  margin: 2rem;
}

.newTask input {
    width: 100%;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    margin: 0.3rem;
    font-size: 1rem;  
}

.newTask button {
    width: 20%;
    margin: 1rem;
    padding: 0.5rem;
    color: white;
    background: #02a89e;
    border: none;
    outline: none;
    border-radius: 12px;
    cursor: pointer;
}




